//Mie variabili
@import "./variables";
//Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

//Mio SCSS
@import "./_mixin.scss";

@import "./_sidebar.scss";

body {
  background-image: $navbar-color;
  background-repeat: initial;
  background-size: cover;
}

.navbar {
  background-image: $navbar-color;
}

a {
  img {
    width: 50px;
  }
}

//ESEMPI LEZIONE
// .box {
//   @include square(100px);

//   @include tablet {
//     @include square(200px);
//   }

//   @include large {
//     @include square(250px);
//   }

//   @include xlarge {
//     @include square(300px);
//   }
// }

// .img-box-lg {
//   @include square(300px);
// }

// .box-grow {
//   @include rectangle(100%, 100px);
// }
